@charset "UTF-8";
$background-color: #fff;
$theme-color: #178ffe;
$text-hover-color: #555;

$h1-before-content: '#';

$title-family:
  Alibaba_PuHuiTi,
  PingFang SC,
  Verdana,
  Helvetica Neue,
  Microsoft Yahei,
  Hiragino Sans GB,
  Microsoft Sans Serif,
  WenQuanYi Micro Hei,
  sans-serif;
$title-color: #333;

$pre-color: #f8f8f8;
$pre-border-color: #ddd;
$pre-code-family: Alibaba_PuHuiTi, Courier, 'Courier New', monospace;

$code-color: #690000;

$hr-border-color: #cfcfcf;

$small-text-color: #888;
$strong-text-color: #333;

$h1-font-size: 2em;
$h2-font-size: 1.7em;
$h3-font-size: 1.5em;
$h4-font-size: 1.3em;
$h5-font-size: 1.2em;

$quote-border-color: #b3b3b3;
$quote-color: #999;

$serif-family: Alibaba_PuHuiTi, Palatino, Optima, Georgia, serif;

$base-font:
  300 1em/1.8 Alibaba_PuHuiTi,
  PingFang SC,
  Lantinghei SC,
  Microsoft Yahei,
  Hiragino Sans GB,
  Microsoft Sans Serif,
  WenQuanYi Micro Hei,
  sans-serif;

/*
额外定义类:
- textwrap
- serif
*/

.cc__markdown-theme {
  /* html init settings */
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  font: $base-font;
  line-height: 1.55em;

  /* adaptation */
  body,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  legend,
  input,
  textarea,
  p,
  blockquote,
  th,
  td,
  hr,
  button,
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  menu,
  nav,
  section {
    margin: 0;
    padding: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  menu,
  nav,
  section {
    display: block;
  }
  audio,
  canvas,
  video {
    display: inline-block;
  }

  body,
  button,
  input,
  select,
  textarea {
    font:
      300 1em/1.8 PingFang SC,
      Lantinghei SC,
      Microsoft Yahei,
      Hiragino Sans GB,
      Microsoft Sans Serif,
      WenQuanYi Micro Hei,
      sans-serif;
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  fieldset,
  img {
    border: 0;
  }

  blockquote {
    position: relative;
    color: $quote-color;
    font-weight: 400;
    border-left: 4px solid $quote-border-color;
    padding-left: 1em;
    margin: 1em 3em 1em 2em;
  }

  @media only screen and (max-width: 640px) {
    blockquote {
      margin: 1em 0;
    }
  }

  acronym,
  abbr {
    border-bottom: 1px dotted;
    font-variant: normal;
    text-decoration: none;
  }

  abbr {
    cursor: help;
  }

  del {
    text-decoration: line-through;
  }

  address,
  caption,
  cite,
  code,
  dfn,
  th,
  var {
    font-style: normal;
    font-weight: 400;
  }

  ul,
  ol {
    list-style: none;
  }

  caption,
  th {
    text-align: left;
  }

  q:before,
  q:after {
    content: '';
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  :root sub,
  :root sup {
    vertical-align: baseline; /* for ie9 and other modern browsers */
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  ins,
  a {
    text-decoration: none;
  }

  a {
    color: $theme-color;
    border-bottom: 1px solid $theme-color;
    text-decoration: none;

    &:hover {
      border-bottom-color: $text-hover-color;
      color: $text-hover-color;
    }
  }

  u,
  .c-u {
    text-decoration: underline;
  }

  mark {
    background: #fffdd1;
    border-bottom: 1px solid #ffedce;
    padding: 2px;
    margin: 0 5px;
  }

  pre,
  code,
  pre tt {
    font-family: $pre-code-family;
  }

  pre {
    //background: $pre-color;
    border: 1px solid $pre-border-color;
    padding: 1em 1.5em;
    display: block;
    -webkit-overflow-scrolling: touch;
  }

  p code {
    color: $code-color;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

  li code {
    color: $code-color;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
  }

  hr {
    border: none;
    border-bottom: 1px solid $hr-border-color;
    margin-bottom: 0.8em;
    height: 10px;
  }

  small,
  .typo-small,
  figcaption {
    font-size: 0.9em;
    color: $small-text-color;
  }

  strong,
  b {
    font-weight: bold;
    color: $strong-text-color;
  }

  [draggable] {
    cursor: move;
  }

  .clearfix:before,
  .clearfix:after {
    content: '';
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    zoom: 1;
  }

  .textwrap,
  .textwrap td,
  .textwrap th {
    word-wrap: break-word;
    word-break: break-all;
  }

  .textwrap-table {
    table-layout: fixed;
  }

  .serif {
    font-family: $serif-family;
  }

  p,
  pre,
  ul,
  ol,
  dl,
  form,
  hr,
  table,
  blockquote {
    margin-bottom: 1.2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-family;
    font-weight: 100;
    color: $title-color;
    line-height: 1.35;
    margin-top: 1.2em;
    margin-bottom: 0.6em !important;
  }

  h1 {
    counter-reset: h2counter;
    font-size: $h1-font-size;
  }

  h2 {
    counter-reset: h3counter;
    font-size: $h2-font-size;
  }

  h3 {
    counter-reset: h4counter;
    font-size: $h3-font-size;
  }

  h4 {
    counter-reset: h5counter;
    font-size: $h4-font-size;
  }

  h5,
  h6 {
    font-size: $h5-font-size;
  }

  h1 {
    text-align: center;
    padding-bottom: 1em;
    font-weight: bold;
    // border-bottom: 1px solid #000;
    &::before {
      content: $h1-before-content;
      margin-right: 10px;
      font-size: 32px;
      color: $theme-color;
      font-family: $serif-family;
    }
  }

  h2 {
    &::before {
      counter-increment: h2counter;
      content: counter(h2counter) '.\0000a0\0000a0';
      margin-right: 10px;
      color: $theme-color;
      font-weight: bold;
      font-size: $h2-font-size - 0.7em;
    }
  }

  h3 {
    &::before {
      counter-increment: h3counter;
      content: counter(h2counter) '.' counter(h3counter) '.\0000a0\0000a0';
      margin-right: 10px;
      color: $theme-color;
      font-weight: bold;
      font-size: $h3-font-size - 0.7em;
    }
  }

  h4 {
    &::before {
      counter-increment: h4counter;
      content: counter(h2counter) '.' counter(h3counter) '.'
        counter(h4counter) '.\0000a0\0000a0';
      margin-right: 10px;
      color: $theme-color;
      font-weight: bold;

      font-size: $h4-font-size - 0.7em;
    }
  }

  &:not(.disabled-counter) {
    h2 {
      &::before {
        counter-increment: h2counter;
        content: counter(h2counter) '.\0000a0\0000a0';
        margin-right: 10px;
        color: $theme-color;
        font-weight: bold;
        font-size: $h2-font-size - 0.7em;
      }
    }

    h3 {
      &::before {
        counter-increment: h3counter;
        content: counter(h2counter) '.' counter(h3counter) '.\0000a0\0000a0';
        margin-right: 10px;
        color: $theme-color;
        font-weight: bold;
        font-size: $h3-font-size - 0.7em;
      }
    }

    h4 {
      &::before {
        counter-increment: h4counter;
        content: counter(h2counter) '.' counter(h3counter) '.'
          counter(h4counter) '.\0000a0\0000a0';
        margin-right: 10px;
        color: $theme-color;
        font-weight: bold;

        font-size: $h4-font-size - 0.7em;
      }
    }
  }

  ul {
    margin-left: 1.3em;
    list-style: disc;
  }

  ol {
    list-style: decimal;
    margin-left: 1.9em;
  }

  li ul,
  li ol {
    margin-bottom: 0.8em;
    margin-left: 2em;
  }

  li ul {
    list-style: circle;
  }

  table th,
  table td,
  table caption {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    color: #666;
  }

  table th {
    background: #fbfbfb;
  }

  table thead th {
    background: #f1f1f1;
  }

  table caption {
    border-bottom: none;
  }

  .c-input,
  .c-textarea {
    -webkit-appearance: none;
    border-radius: 0;
  }

  em,
  legend,
  caption {
    color: #333;
    font-weight: inherit;
  }

  .c-em {
    position: relative;
  }

  .c-em:after {
    position: absolute;
    top: 0.65em;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    content: '・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・';
  }

  img {
    max-width: 100%;
  }
}
