@charset "UTF-8";
$background-color: #333;
$theme-color: #178ffe;
$text-color: #fcfcfc;
$text-hover-color: #e99b50;
$title-color: #fcfcfc;
$pre-color: #f8f8f8;
$pre-border-color: #ddd;
$code-color: #ff6868;
$code-bg-color: rgba(179, 207, 235, 0.05);
$hr-border-color: #cfcfcf;
$small-text-color: #888;
$strong-text-color: #fcfcfc;
$quote-border-color: #b3b3b3;
$quote-color: #999;
$mark-bg-color: #fffdd1;
$mark-border-color: #ffedce;
$th-bg-color: #252525;
$td-bg-color: #292929;
$table-text-color: #cecece;
$table-border-color: #ddd;
$em-color: #fcfcfc; 

$h1-before-content: '#';

$h1-font-size: 2em;
$h2-font-size: 1.7em;
$h3-font-size: 1.5em;
$h4-font-size: 1.3em;
$h5-font-size: 1.2em;


$pre-code-family: Alibaba_PuHuiTi, Courier, 'Courier New', monospace;
$title-family:
  Alibaba_PuHuiTi,
  PingFang SC,
  Verdana,
  Helvetica Neue,
  Microsoft Yahei,
  Hiragino Sans GB,
  Microsoft Sans Serif,
  WenQuanYi Micro Hei,
  sans-serif;
$serif-family: Alibaba_PuHuiTi, Palatino, Optima, Georgia, serif;
$base-font:
  300 1em/1.8 Alibaba_PuHuiTi,
  PingFang SC,
  Lantinghei SC,
  Microsoft Yahei,
  Hiragino Sans GB,
  Microsoft Sans Serif,
  WenQuanYi Micro Hei,
  sans-serif;

/*
额外定义类:
- textwrap
- serif
*/

html.dark .cc__markdown-theme {
  /* html init settings */
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-break: break-all;
  font: $base-font;
  line-height: 1.55em;

  blockquote {
    position: relative;
    color: $quote-color;
    font-weight: 400;
    border-left: 4px solid $quote-border-color;
    padding-left: 1em;
    margin: 1em 3em 1em 2em;
  }

  a {
    color: $theme-color;
    border-bottom: 1px solid $theme-color;
    text-decoration: none;

    &:hover {
      border-bottom-color: $text-hover-color;
      color: $text-hover-color;
    }
  }

  mark {
    background: $mark-bg-color;
    border-bottom: 1px solid $mark-border-color;
    padding: 2px;
    margin: 0 5px;
  }

  pre,
  code,
  pre tt {
    font-family: $pre-code-family;
  }

  pre {
    //background: $pre-color;
    border: 1px solid $pre-border-color;
    padding: 1em 1.5em;
    display: block;
    -webkit-overflow-scrolling: touch;
  }

  p code {
    color: $code-color;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background-color: $code-bg-color;
    border-radius: 3px;
  }

  li code {
    color: $code-color;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background-color: $code-bg-color;
    border-radius: 3px;
  }

  hr {
    border: none;
    border-bottom: 1px solid $hr-border-color;
    margin-bottom: 0.8em;
    height: 10px;
  }

  small,
  .typo-small,
  figcaption {
    font-size: 0.9em;
    color: $small-text-color;
  }

  strong,
  b {
    font-weight: bold;
    color: $strong-text-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $title-family;
    font-weight: 100;
    color: $title-color;
    line-height: 1.35;
    margin-top: 1.2em;
    margin-bottom: 0.6em !important;
  }

  h1 {
    text-align: center;
    padding-bottom: 1em;
    font-weight: bold;
    // border-bottom: 1px solid #000;
    &::before {
      content: $h1-before-content;
      margin-right: 10px;
      font-size: 32px;
      color: $theme-color;
      font-family: $serif-family;
    }
  }

  &:not(.disabled-counter) {
    h2 {
      &::before {
        counter-increment: h2counter;
        content: counter(h2counter) '.\0000a0\0000a0';
        margin-right: 10px;
        color: $theme-color;
        font-weight: bold;
        font-size: $h2-font-size - 0.7em;
      }
    }

    h3 {
      &::before {
        counter-increment: h3counter;
        content: counter(h2counter) '.' counter(h3counter) '.\0000a0\0000a0';
        margin-right: 10px;
        color: $theme-color;
        font-weight: bold;
        font-size: $h3-font-size - 0.7em;
      }
    }

    h4 {
      &::before {
        counter-increment: h4counter;
        content: counter(h2counter) '.' counter(h3counter) '.'
          counter(h4counter) '.\0000a0\0000a0';
        margin-right: 10px;
        color: $theme-color;
        font-weight: bold;

        font-size: $h4-font-size - 0.7em;
      }
    }
  }

  table th,
  table td,
  table caption {
    border: 1px solid $table-border-color;
    padding: 0.5em 1em;
    color: $table-text-color;
  }

  table th {
    background: $td-bg-color;
  }

  table thead th {
    background: $th-bg-color;
  }

  em,
  legend,
  caption {
    color: $em-color;
    font-weight: inherit;
  }
}
